body {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

.all {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.topbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: black;
    background-color: rgba(1, 1, 1, 0.8);
    align-items: center;
    justify-content: space-between;

}

span {
    font-size: 16px;
}

.hrefs a {
    text-decoration: none;
    color: white;
    margin-left: 200px;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -5px;
}

.hrefs2 a {
    text-decoration: none;
    color: white;
    margin-right: 200px;
}

.top {
    width: 100%;
    height: 100%;
    background: url(https://media.discordapp.net/attachments/852818445812236298/1156622777479081984/nuts.png?ex=6515a467&is=651452e7&hm=889e2d8279f13173870e532c95e9a6f477f2d1345bd5a36ddef93bd470132126&=&width=1193&height=671);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mid {
    position: relative;
}

.footer {
    background: gray;
}
